@import '../../assets/styles/fonts.scss';
@import '../../assets/styles/colors.scss';

.subscription-field {
  position: relative;
  &::after {
    position: absolute;
    content: url(./img/arrow_forward.svg);
    top: 13px;
    right: 67px;
  }
}

.subscription-field__input {
  width: 267px;
  height: 44px;
  box-sizing: border-box;
  background: $white;
  border: 1px solid $dark-25;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0px 0px 0px 13px;
  &::placeholder {
    font-family: 'Montserrat-Regular';
    font-size: 14px;
    color: $dark-25;
  }
  &:hover {
    border: 1px solid $dark-50;
  }
}
// .caption {
//   font-family: 'Montserrat-Bold';
//   font-size: 12px;
//   line-height: 15px;
//   text-transform: uppercase;
//   color: $dark-100;
// }