@import '../../assets/styles/fonts.scss';
@import '../../assets/styles/colors.scss';

.amount-rooms-dropdown {
  width: 266px;
  height: auto;
  background: $white;
  .caption {
    font-family: 'Montserrat-Bold';
    font-size: 12px;
    text-transform: uppercase;
    color: $dark-100;
    margin-bottom: 6px;
  }
}

.amount-rooms-dropdown__drpdn {
  position: relative;
  width: 266px;
  height: auto;
  box-sizing: border-box;
}

.amount-rooms-dropdown__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 266px;
  height: 44px;
  border: 1px solid $dark-25;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: $white;
  box-sizing: border-box;
  font-family: 'Montserrat-Regular';
  font-size: 14px;
  padding: 0px 16px 0px 13px;
  color: $dark-75;
}

.amount-rooms-dropdown__list {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  background: $white;
  z-index: 1;
  display: none;
}

.amount-rooms-dropdown__list-item {
  display: flex;
  padding: 4px 7px 2px 14px;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat-Bold';
  font-size: 12px;
  text-transform: uppercase;
  color: $dark-100;
  .amount-rooms-dropdown__list-item-amount {
    text-align: center;
    width: 32px;
  }
  &:nth-of-type(3) {
    padding-bottom: 7px;
  }
}

.amount-rooms-dropdown__pic {
  cursor: pointer;
}

.amount-rooms-dropdown__list-item-change-quantity {
  display: flex;
  align-items: center;
}

.amount-rooms-dropdown__list-activ {
  display: block;
  border-right:  1px solid $dark-50;
  border-bottom:  1px solid $dark-50;
  border-left:  1px solid $dark-50;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  top: 44px;
  left: 0;
}