@import '../../../assets/styles/fonts.scss';
@import '../../../assets/styles/colors.scss';

body {
  // font-size: 62.5%;
  font-size: 14px;
}

#ui_kit {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 30px;
  margin-bottom: 37px;
  display: flex;
}

.page {
  display: flex;
  flex-direction: column;
  flex: 1 1 300px;
}

.form-elements {
  display: flex;
  padding-left: 141px;

  &__column {
    width: 1158px;
  }
}

.form-elements__column-1 {
  width: 320px;
  margin-right: 126px;

  .form-elements__column-item {
    &:nth-child(1) {
      margin-bottom: 22px;

      .caption {
        margin-bottom: 6px;
      }
    }

    &:nth-child(2) {
      margin-bottom: 22px;

      .caption {
        margin-bottom: 6px;
      }
    }

    &:nth-child(3) {
      margin-bottom: 25px;

      .caption {
        margin-bottom: 6px;
      }
    }

    &:nth-child(4) {
      margin-bottom: 42px;

      .caption {
        margin-bottom: 6px;
      }
    }

    &:nth-child(5) {
      margin-bottom: 43px;
    }

    &:nth-child(6) {
      margin-bottom: 41px;

      .caption {
        margin-bottom: 6px;
      }
    }

    &:nth-child(7) {
      margin-bottom: 102px;

      .caption {
        font-family: 'Montserrat-Bold';
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: $dark-100;
        margin-bottom: 5px;
      }
    }

    &:nth-child(8) {
      margin-bottom: 22px;
    }

    &:nth-child(9) {
      margin-bottom: 172px;
    }

    &:nth-child(10) {
      margin-bottom: 49px;
    }

    &:nth-child(11) {
      margin-bottom: 292px;
      margin-left: -1px;
    }
  }
}

.form-elements__column-2 {
  width: 320px;
  margin-right: 72px;

  .form-elements__column-item {
    &:nth-child(1) {
      margin-bottom: 42px;
    }

    &:nth-child(2) {
      margin-bottom: 39px;

      .caption {
        font-family: 'Montserrat-Bold';
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: $dark-100;
        margin-bottom: 14px;
      }
    }

    &:nth-child(3) {
      margin-bottom: 45px;

      &>.caption {
        font-family: 'Montserrat-Bold';
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: $dark-100;
        margin-bottom: 15px;
      }

      .special-ofers:nth-of-type(1) {
        margin-bottom: 14px;
      }
    }

    &:nth-child(4) {
      margin-bottom: 40px;

      .caption {
        font-family: 'Montserrat-Bold';
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: $dark-100;
        margin-bottom: 16px;
      }

      .like-button:nth-child(2) {
        margin-right: 10px;
      }
    }

    &:nth-child(5) {
      margin-bottom: 195px;

      .caption {
        font-family: 'Montserrat-Bold';
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: $dark-100;
        margin-bottom: 19px;
      }
    }

    &:nth-child(6) {
      margin-bottom: 257px;

      .caption {
        font-family: 'Montserrat-Bold';
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: $dark-100;
        margin-bottom: 5px;
      }
    }

    &:nth-child(7) {
      margin-bottom: 231px;
    }
  }
}

.form-elements__column-3 {
  .form-elements__column-item {
    &:nth-child(1) {
      margin-bottom: 47px;
    }

    &:nth-child(2) {
      margin-bottom: 30px;

      .caption {
        font-family: 'Montserrat-Bold';
        font-size: 12px;
        text-transform: uppercase;
        color: $dark-100;
        margin-bottom: 17px;
      }

      & button:nth-of-type(1) {
        margin-right: 20px;
      }
    }

    &:nth-child(3) {
      margin-bottom: 31px;

      & button:nth-of-type(1) {
        margin-right: 20px;
      }
    }

    &:nth-child(4) {
      margin-bottom: 30px;

      & button:nth-of-type(1) {
        margin-right: 21px;
      }
    }

    &:nth-child(5) {
      margin-bottom: 378px;
    }

    &:nth-child(6) {
      margin-bottom: 258px;

      .caption {
        font-family: 'Montserrat-Bold';
        font-size: 12px;
        text-transform: uppercase;
        color: $dark-100;
        margin-bottom: 6px;
      }
    }
  }
}