@import '../../assets/styles/fonts.scss';
@import '../../assets/styles/colors.scss';
@import "nouislider/dist/nouislider.css";

.range-slider {
  width: 270px;
  justify-content: space-between;
  & > .caption {
    font-family: 'Montserrat-Bold';
    font-size: 12px;
    text-transform: uppercase;
    color: $dark-100;
    display: inline-block;
    margin-right: 47px;
    margin-bottom: 22px;
  }
}

.range-slider__price-range {
  display: inline-block;
  
}

.range-slider__inputs {
  display: inline-block;
  font-family: 'Montserrat-Regular';
  font-size: 12px;
  text-transform: uppercase;
  color: $dark-50;
  & > .range-slider__input:first-child {
    text-align: right;
  }
  & > .range-slider__input {
    font-family: 'Montserrat-Regular';
    font-size: 12px;
    text-transform: uppercase;
    color: $dark-50;
    width: 60px;
    height: 13px;
  }
}

.range-slider__input::-webkit-outer-spin-button,
.range-slider__input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

.noUi-target {
  background: #FFFFFF;
  border: 1px solid $dark-25;
  box-sizing: border-box;
  border-radius: 3px;
  width: 266px;
  height: 6px;
}

.noUi-connect {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 3px;
}

.noUi-handle::after,
.noUi-handle::before {
  display: none;
}

.noUi-horizontal .noUi-handle {
  width: 16px;
  height:  16px;
}


.noUi-handle {
  box-shadow: none;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border: 2px solid #FFFFFF;
  border-radius: 10px;
}

.noUi-horizontal .noUi-handle-upper {
  right: -5px;
}

.noUi-horizontal .noUi-handle-lower {
  right: -13px;
}